@import "colores.css";
@import "/lib/material-icons.css";
@import "/lib/roboto.css";
@import "/lib/principal.css";
@import "/lib/icono.css";
@import "/lib/mi-nav.css";
@import "/lib/campos.css";


table{
    border: 2px;
    border-radius: 2px;
}

h1{
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
p img{
    text-align: center;
    width: 350px;
}